.checked {
  color: orange;
}
/* Content Area*/

#content-area {
  margin-left: 11%;
  margin-right: 11%;
  background-color: white;
}
#content-area #content-area-first-section {
  padding: 2% 2% 2% 2%;
  height: auto;
  display: flex;
  width: 100%;
  margin-bottom: 1%;
}
#content-area #content-area-first-section #productAbout {
  margin-right: 2%;
}
#content-area #content-area-first-section #productAbout .stock {
  color: rgb(156, 251, 13);
  font-size: 0.9vw;
}
#content-area #content-area-first-section #productAbout h2 {
  margin-top: 1%;
  margin-bottom: 0%;
  font-size: 1.1vw;
}
#content-area #content-area-first-section #productAbout span {
  font-size: 0.9vw;
}
.price {
  font-family: "Inter";
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 100%;
  letter-spacing: 0px;
}
.tableClass tr td {
  padding-bottom: 0.2vh;
}
.tableClass {
  border-collapse: separate;
  border-spacing: 20px 0;
}
#content-area #content-area-first-section div {
  width: 33%;
  height: fit-content;
}
#content-area #content-area-first-section #product-img {
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  margin-right: 2%;
  padding-bottom: 5%;
}
#content-area #content-area-first-section #product-img img {
  width: 80%;
  left: 10%;
  position: relative;
  height: auto;
}
#content-area #content-area-first-section #productAbout #ratingNetc {
  margin: 0%;
  width: 100%;
  display: flex;
  align-items: baseline;
}
#content-area #content-area-first-section #productAbout #ratingNetc p {
  opacity: 0.5;
  font-size: 0.9vw;
  margin-left: 2%;
  margin-right: 2%;
}
#navigation-text {
  display: flex;
  align-items: center;
  padding-left: 2vw;
}
#content-area #content-area-first-section #productAbout #piecesContainer {
  font-size: 1vw;
  height: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  background-color: rgba(245, 217, 164, 0.4);
  display: flex;
}

#content-area #content-area-first-section #productAbout #piecesContainer div {
  padding-left: 4%;
}

#content-area #content-area-first-section #productAbout #piecesContainer .centerDiv {
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-bottom: none;
}

#content-area #content-area-first-section #productAbout #piecesContainer .centerDiv {
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-bottom: none;
}
#content-area #content-area-first-section #productAbout .productDes {
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  border-right: none;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  height: auto;
}
#content-area #content-area-first-section #productAbout .productDes p {
  margin-top: 2%;
  margin-bottom: 2%;
  /* opacity: 0.6; */
  font-size: 0.9vw;
}
#content-area #content-area-first-section #productAbout .value {
  opacity: 0.6;
  /* margin-right: 2%; */
  /* text-align: center; */
  text-align: end;
}
.active {
  color: rgb(255, 0, 0);
}

#content-area #content-area-first-section #dealerInfo {
  padding: 1% 1% 1% 1%;
  width: 24%;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
}
#content-area #content-area-first-section #dealerInfo #name {
  display: flex;
  align-items: center;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-right: none;
  border-left: none;
  padding-bottom: 5%;
  width: 100%;
}
#content-area #content-area-first-section #dealerInfo #name img {
  width: 25%;
  height: auto;
  margin-right: 5%;
}
#content-area #content-area-first-section #dealerInfo #name h2 {
  font-size: 1.1vw;

  /* padding-left: 5%; */
}
#content-area #content-area-first-section #dealerInfo p {
  display: flex;
  align-items: center;
  opacity: 0.6;
  font-size: 0.9vw;
  margin-top: 4%;
  margin-bottom: 2%;
}
#content-area #content-area-first-section #dealerInfo img {
  opacity: 1;
  width: 5%;
  margin-right: 2%;
}
#content-area #content-area-first-section #dealerInfo button {
  width: 100%;
  background-color: white;
  color: #1170fb;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 0.5vh;
  font-size: 0.9vw;
  cursor: pointer;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
}
#content-area #content-area-first-section #dealerInfo #inquiry {
  margin-top: 5%;
  background-color: #1170fb;
  color: white;
}
#content-area #content-area-first-section #dealerInfo button:hover {
  transform: scale(1.05);
}

#content-area #content-area-second-section {
  background-color: rgb(246, 250, 253);
  /* background-color: black; */
  padding-top: 1%;
  height: auto;
  width: 100%;
  display: flex;
  /* margin-bottom: 1%; */
  padding-bottom: 1%;
}
#content-area #content-area-second-section #productcompleteInfo {
  background-color: white;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  margin-right: 1%;
  height: auto;
  padding-bottom: 2%;
  width: 90%;
}
#content-area #content-area-second-section #productcompleteInfo #headings {
  /* padding-left: 2%; */
  display: flex;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  border-left: none;
  border-right: none;
}
#content-area #content-area-second-section #productcompleteInfo #headings h3 {
  cursor: pointer;
  font-size: 1.1vw;
  margin-left: 2%;
  padding: 1% 1% 1% 1%;
  opacity: 0.5;
}
#content-area #content-area-second-section #productcompleteInfo #headings h3:hover {
  transform: scale(1.01);
}
#content-area #content-area-second-section #productcompleteInfo #headings .active {
  opacity: 1;
  height: 100%;
  color: #1170fb;
  border: 2px solid #0566f6;
  border-top: none;
  border-left: none;
  border-right: none;
}
#content-area #content-area-second-section #productcompleteInfo p {
  padding: 0.5% 2% 0.5% 2%;
  font-size: 0.9vw;
  line-height: 150%;
  opacity: 0.6;
}
#content-area #content-area-second-section #productcompleteInfo .des {
  padding: 2% 2% 2% 2%;
  font-size: 0.9vw;
  line-height: 150%;
  opacity: 0.6;
}
#content-area #content-area-second-section #productcompleteInfo table {
  margin-left: 2%;
  width: 60%;
  /* margin-top: %; */
  margin-bottom: 2%;
  /* border: 0.1px solid rgba(0, 0, 0, 0.2); */
}
#content-area #content-area-second-section #productcompleteInfo table tr td {
  font-size: 0.9vw;
  opacity: 0.6;
  padding: 1% 0% 1% 2%;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
}
#content-area #content-area-second-section #productcompleteInfo table .key {
  opacity: 0.7;
  background-color: rgb(242, 244, 245);
}
#content-area #content-area-second-section #suggestions {
  height: fit-content;
  background-color: white;
  padding: 1% 1% 1% 1%;
}
#content-area #content-area-second-section #suggestions #title {
  font-size: 1.1vw;
  margin-bottom: 4%;
}
#content-area #content-area-second-section #suggestions article {
  display: flex;
  margin-bottom: 4%;
}
#content-area #content-area-second-section #suggestions article:hover {
  transform: scale(1.01);
  cursor: pointer;
}
#content-area #content-area-second-section #suggestions article img {
  width: 23%;
  height: 23%;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10%;
}
#content-area #content-area-second-section #suggestions article div {
  font-size: 0.9vw;
  padding: 1.5% 0% 0% 4%;
}
#content-area #content-area-second-section #suggestions article div p {
  margin-top: 3%;
  margin-bottom: 1%;
  opacity: 0.6;
}

.dealInProducts {
  width: 100%;
}

/* Second Section */
#content-area #content-area-second-section {
  background-color: rgb(246, 250, 253);
  /* background-color: black; */
  padding-top: 1%;
  height: auto;
  width: 100%;
  display: flex;
  /* margin-bottom: 1%; */
  padding-bottom: 1%;
}
#content-area #content-area-second-section #productcompleteInfo {
  background-color: white;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  margin-right: 1%;
  height: auto;
  padding-bottom: 2%;
  width: 90%;
}
#content-area #content-area-second-section #productcompleteInfo #headings {
  /* padding-left: 2%; */
  display: flex;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  border-left: none;
  border-right: none;
}
#content-area #content-area-second-section #productcompleteInfo #headings h3 {
  cursor: pointer;
  font-size: 1.1vw;
  margin-left: 2%;
  padding: 1% 1% 1% 1%;
  opacity: 0.5;
}
#content-area #content-area-second-section #productcompleteInfo #headings h3:hover {
  transform: scale(1.01);
}
#content-area #content-area-second-section #productcompleteInfo #headings .active {
  opacity: 1;
  height: 100%;
  color: #1170fb;
  border: 2px solid #0566f6;
  border-top: none;
  border-left: none;
  border-right: none;
}
#content-area #content-area-second-section #productcompleteInfo p {
  padding: 0.5% 2% 0.5% 2%;
  font-size: 0.9vw;
  line-height: 150%;
  opacity: 0.6;
}
#content-area #content-area-second-section #productcompleteInfo .des {
  padding: 2% 2% 2% 2%;
  font-size: 0.9vw;
  line-height: 150%;
  opacity: 0.6;
}
#content-area #content-area-second-section #productcompleteInfo table {
  margin-left: 2%;
  width: 60%;
  /* margin-top: %; */
  margin-bottom: 2%;
  /* border: 0.1px solid rgba(0, 0, 0, 0.2); */
}
#content-area #content-area-second-section #productcompleteInfo table tr td {
  font-size: 0.9vw;
  opacity: 0.6;
  padding: 1% 0% 1% 2%;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
}
#content-area #content-area-second-section #productcompleteInfo table .key {
  opacity: 0.7;
  background-color: rgb(242, 244, 245);
}
#content-area #content-area-second-section #suggestions {
  height: fit-content;
  background-color: white;
  padding: 1% 1% 1% 1%;
}
#content-area #content-area-second-section #suggestions #title {
  font-size: 1.1vw;
  margin-bottom: 4%;
}
#content-area #content-area-second-section #suggestions article {
  display: flex;
  margin-bottom: 4%;
}
#content-area #content-area-second-section #suggestions article:hover {
  transform: scale(1.01);
  cursor: pointer;
}
#content-area #content-area-second-section #suggestions article img {
  width: 23%;
  height: 23%;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10%;
}
#content-area #content-area-second-section #suggestions article div {
  font-size: 0.9vw;
  padding: 1.5% 0% 0% 4%;
}
#content-area #content-area-second-section #suggestions article div p {
  margin-top: 3%;
  margin-bottom: 1%;
  opacity: 0.6;
}
.orderBtn {
  display: flex;
  justify-content: space-around;
}
.containerImg {
  display: flex;
  background: linear-gradient(#237cff, #237cff);
border-radius: 5px;
  width: 76vw;
  height: 20vh;
  align-items: center;
  justify-content: space-around;
  gap: 34vw;
}

.contentPara{
font-weight: 400;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.shopBtn{
  background: #ff9017;
  color: white;
    padding: 16px;
    font-size: larger;
    font-weight: 400;
    border-radius: 12px;
}